#viewDiv {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 56px;
  width: 100%;
}

.navbar {
  height: 56.5px;        
  
}

.bg-light {
  background: #555555 !important;
  border-bottom: solid 2px black;
}

#openseadragon1 {
  width: 100%;
  height: 450px;
}

#imageModal .modal-content {
    
    height: 500px;
    margin:0 auto;
  }

@media only screen and (min-width: 992px) {
  #imageModal .modal-content {
    width: 1000px;
    height: 700px;
    margin:0 auto;
  }

  #openseadragon1 {
    width: 100%;
    height: 620px;
  }  
}

